<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- http://logback.qos.ch/manual/configuration.html#LevelChangePropagator -->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

  <!-- http://logback.qos.ch/manual/layouts.html -->
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <target>System.out</target>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%10.10thread] %25.25logger{25} %.-1level %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="oomer" level="INFO" />

  <root level="info">
    <appender-ref ref="console" />
  </root>

</configuration>
